<!DOCTYPE html>
<html>
  <head>
    <title>leadstaq</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/cover.css' />
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container"> 
          <div class="inner cover">
            <h1 class="cover-heading">leadstaq</h1>
	    <a href="https://api.twitter.com/oauth/authorize?oauth_token=<%= token %>" class="lead">Sign in with twitter</a>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/ejs.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
