<!DOCTYPE html>
<html>
  <head>
    <title>leadstaq</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Leadstaq</h1>
    <input type="text">
    <div>
      <% for(var i = 0; i < tweets.statuses.length; i++) { %>
      <div><%= tweets.statuses[i].text %></div>
      <% } %>
    </div>
  </body>
</html>
