<!DOCTYPE html>
<html>
  <head>
    <title>leadstaq</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Leadstaq</h1>
    <input type="text">
  </body>
</html>
