<!DOCTYPE html>
<html>
  <head>
    <title>leadstaq</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Leadstaq</h1>
    <input id="search-box" type="text"> 
    <span id="search-btn">Search</span>
    <div id="tweets"></div>

    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/ejs.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
