body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tweet {
  padding: 7px;
}

.user {
  border-color: grey;
  border-width: 3px;
  border-style: solid;
  padding: 5px;
}

#added-btn {
  display: inline;
  padding-right: 10px;
}
